body{
  background-image: url('images/43755438-5b2e-4ea1-8663-1cd671d667b3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#ramen-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #ramen-detail h2, #ramen-detail p {
    margin: 10px 0;
    color: aliceblue;
    background-color: rgb(58, 53, 53);
  }
  
  .ramen-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

 #ramen-form{
    width: 60px;
    max-width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
 }
 .form-control{
    width: 300px;
    height: 40px;
    text-align: center;
    margin: 5px auto;
 }


 
